name: Browser Tests

on:
  pull_request:
  push:
    branches-ignore: "dependabot/**"

env:
  NODE_VERSION: 22.x

jobs:
  test:
    runs-on: ubuntu-latest
    name: ${{ matrix.BROWSER }}
    strategy:
      fail-fast: false
      matrix:
        BROWSER: ["chrome", "firefox"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:unit -- -b ${{ matrix.BROWSER }} --headless

  ie:
    runs-on: windows-latest
    name: Edge in IE mode
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        shell: cmd
        run: npm run test:ie

  safari:
    runs-on: macos-latest
    name: Safari
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test:safari
